@model IEnumerable<Acme.Models.ViewModels.Cartvm1>
@{
    ViewBag.Title = "Cart";
    decimal totalamt = 0;
}
<style type="text/css">
    .button {
        background: none !important;
        border: none;
        padding: 0 !important;
        color: #0000FF;
    }
    table {
        background-color: white;
        width: 630px;
        border: none;
    }
    table th {
        color: white;
        background-color: #3333FF;
        border: none;
    }
    table td {
        border: none;
    }
    table tr {
        border: 1px solid black;
    }
    .validation-summary-valid {
        display: none;
    }

    .field-validation-error {
        color: #f00;
    }

    .validation-summary-errors {
        color: #f00;
        font-weight: bold;
    }

    .input-validation-error {
        border: 2px solid #f00;
        background-color: #fee;
    }
</style>

@if (Model.Count() == 0)
{
    <span style="font:size:large;">No items in Cart</span>
}
else
{
    <table>
        <tr>
            <td style="width:85px"></td>
            <td style="width:280px">Product</td>
            <td style="width:95px;text-align:right;">Unit Price</td>
            <td style="width:220px;">Quantity Total</td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/Content/Images/Products/@item.Imagefile" style="width:85px;height:100px" />
                    <br />
                </td>
                <td style="vertical-align:top;">
                    @Html.ActionLink(@item.Name, "Order", new { id = @item.ProductID })<br />
                    @item.ShortDescription
                </td>
                <td style="vertical-align:top;text-align:right;">
                    @string.Format("{0:C}", @item.UnitPrice)
                </td>
                <td style="vertical-align:top;">
                    <form action="/shopping/cart" method="post">
                        <div style="width:100%;">
                            <div style="width:40%;float:left;">
                                <input type="hidden" id="ProductId"
                                       name="ProductId" value="@item.ProductID" />
                                <div class="editor-field">
                                    <input data-val="true"
                                           data-val-range="Quantity invalid"
                                           data-val-range-max="99" data-val-range-min="1"
                                           data-val-required="Quantity missing"
                                           maxlength="2" size="2"
                                           id="Quantity" name="Quantity" type="text" value="@item.Quantity" />
                                    <br />
                                    <span class="field-validation-valid"
                                          data-valmsg-for="Quantity"
                                          data-valmsg-replace="true"></span>
                                </div>
                                <br />
                                <input type="submit" class="button"
                                       name="udaction" value="Update" />
                            </div>
                            <div style="width:25%;float:left;text-align:right;">
                                @{totalamt = totalamt + @item.TotalCost;}
                                @string.Format("{0:C}", @item.TotalCost)
                            </div>
                            <div style="width:35%;float:left;text-align:center;">
                                <input type="submit" class="button"
                                       name="udaction" value="Delete" onclick="return confirm('Are you sure?')" />
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        } 
        <tr>
            <td colspan="3" style="text-align:right;">
                                            
            </td>
            <td>
                <div style="width:100%;">
                    <div style="width:30%;float:left;text-align:right;">
                        Total
                    </div>
                    <div style="width:35%;float:left;text-align:right;">
                        @string.Format("{0:C}", @totalamt)
                    </div>
                    <div style="width:35%;float:left;text-align:center;"></div>
                </div>
            </td>
        </tr>
    </table>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

