@model IEnumerable<Acme.Models.ViewModels.Cartvm1>
@{
    ViewBag.Title = "Cart";
}
<style type="text/css">
    .button {
        background: none !important;
        border: none;
        padding: 0 !important;
        color: #0000FF;
    }
    table {
        background-color: white;
        width: 630px;
        border: none;
    }
    table th {
        color: white;
        background-color: #3333FF;
        border: none;
    }
    table td {
        border: none;
    }
    table tr {
        border: 1px solid black;
    }
    .validation-summary-valid {
        display: none;
    }

    .field-validation-error {
        color: #f00;
    }

    .validation-summary-errors {
        color: #f00;
        font-weight: bold;
    }

    .input-validation-error {
        border: 2px solid #f00;
        background-color: #fee;
    }
</style>

@if (Model.Count() == 0)
{
    <span style="font:size:large;">No items in Cart</span>
}
else
{
    <table>
        <tr>
            <th style="width:85px;"></th>
            <th style="width:280px; text-align: left;">Product</th>
            <th style="width:95px; text-align: left;">Unit Price</th>
            <th style="width:85px; text-align: right;">Quantity</th>
            <th style="width:85px; text-align: right;">Total</th>
            <th style="width:70px;"></th>
        </tr>

        @{decimal totalAll = 0; }
        @{decimal totalItem = 0; }

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="hidden" id="CartNumber" name="CartNumber" value="0" />
                    <input type="hidden" id="ProductId" name="ProductId" value="@item.ProductID" />
                    <img src="~/Content/Images/Products/@Url.Content(item.Imagefile)" width="85" height="100" />
                </td>
                <td style="vertical-align:top">
                    @Html.ActionLink(@item.Name, "Order", new { id = @item.ProductID })<br />
                    @item.ShortDescription
                </td>
                <td style="text-align: center;">@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                <td style="vertical-align: top; text-align:right;">
                    <form action="/shopping/cart" method="post">
                        <div style="width:100%">
                            <div style="width:40%; float: left">
                                <input type="hidden" id="ProductId" name="ProductId" value="@item.ProductID" />
                                <div class="editor-field">
                                    <input data-val="true" 
                                            data-val-range="Quantity invalid" 
                                            data-val-range-max="99"
                                            data-val-range-min="1"
                                            data-val-required="Quantity missing"
                                            maxlength="2" size="2"
                                            id="Quantity" name="Quantity" type="text" value="@item.Quantity" />
                                    <br />
                                    <span class="field-validation-valid"
                                            data-valmsg-for="Quantity"
                                            data-valmsg-replace="true"></span>
                                </div>
                                <br />
                                <input type="submit" class="button" name="udaction" value="Update" />
                            </div>
                            <div style="width:25%;float:left;text-align:right">
                                @{totalItem = item.UnitPrice * item.Quantity;}
                                @totalItem
                            </div>
                            <div style="width:35%;float:left;text-align:center;">
                                <input type="submit" class="button" name="udaction" value="Delete" onclick="return confirm('Are you sure?')" />
                            </div>
                        </div>
                    </form>
                </td>              
                @{totalAll = totalAll + item.UnitPrice * item.Quantity;}
                @{item.TotalCost = item.TotalCost + item.UnitPrice * item.Quantity; }
            </tr>
        }
    </table>
    <p>Total Amount = @totalAll</p>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

