@model Acme.Models.Product

@{
    ViewBag.Title = "Order";
}

<style type="text/css">
    .validation-summary-valid {
        display: none;
    }

    .field-validation-error {
        color: #f00;
    }

    .validation-summary-errors {
        color: #f00;
        font-weight: bold;
    }

    .input-validation-error {
        border: 2px solid #f00;
        background-color: #fee;
    }
</style>

<h2>Order</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProductID)

        <input type="hidden" name="CartNumber" value="1" />
        <input type="hidden" name="ProductID" value="@Model.ProductID" />

        <div class="form-group">
            <b>@Html.DisplayFor(model => model.Name)</b><br />
        </div>
        <input type="hidden" name="CartNumber" value="2" />
        <input type="hidden" name="Name" value="@Model.Name" />

        <div class="form-group">
            @Html.DisplayFor(model => model.LongDescription)<br />
        </div>
        <input type="hidden" name="CartNumber" value="3" />
        <input type="hidden" name="LongDescription" value="@Model.LongDescription" />

        <div class="form-group">
            Unit Price: 
            @string.Format("{0:C}", @Model.UnitPrice)

        </div>
        <input type="hidden" name="CartNumber" value="4" />
        <input type="hidden" name="UnitPrice" value="@Model.UnitPrice" />

        <div class="editor-field form-group">
            Quantity:
            <input data-val="true"
                   data-val-range="Quantity not valid"
                   data-val-range-max="99" data-val-range-min="1"
                   data-val-required="Quantity missing" maxlength="2" size="2"
                   id="Quantity" name="Quantity" type="text" value="1" />
            <span class="field-validation-valid" data-valmsg-for="Quantity"
                  data-valmsg-replace="true"></span>
        </div>

        <div style="position: absolute; border: 1px solid black; right: 30px; z-index: -1; top: 100px">
            <img src="~/Content/Images/Products/@Url.Content(Model.ImageFile)" style="height:250px; width:250px; " />
        </div>

        <div class="form-group">
            <br />
            <br />
            <input type="submit" value="Add To Cart" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to previous page", null, null, null, new { href = Request.UrlReferrer })
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
